<html>
<body>
    <h1>Formulario</h1>
    <form method="POST" action="/formulario" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre">

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido">

        <label for="capitulo">¿Que capitulo perteneces?</label>
        <input type="text" name="capitulo">

        <label for="cantidadHermanos"></label>
        <input type="text" name="cantidadHermanos">
    </form>
</body>
</html>